* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family :'Chivo', sans-serif;
    font-family:'Poppins', sans-serif;
}

* ::selection {
    background: #006241;
    color: #fff;
}

.main {
    padding: 15px 15px 60px;
    margin-top: 80px;
}

.main__title {
    font-size: 50px;
    line-height: 1.2;
}

.main__title span {
    color: #006241;
}

.main__description {
    font-weight: bolder;
    margin-top: 20px;
}

.main__contenedor-logo {
    display: none;
}

.main__container-texto {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .main__contenedor-logo {
        display: block;
    }

    .main__logo {
        width: 80%;
    }

    .main__container-texto {
        width: 50%;
    }

    .main__contenedor-logo {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main {
        display: flex;
        padding: 15px 30px 60px;
    }
}

@media (min-width: 1024px) {
    .main__logo {
        width: 350px;
    }

    .main {
        display: flex;
        padding: 15px 100px 60px;
    }
}